body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

button {
    font-family: 'Courier New', Courier, monospace;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #000975 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}

*::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:active {
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #000975;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #8D20B7;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #000975;
}


.container {
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#horario-mostrado {
    overflow-x: auto;
    max-width: auto;
}

.titulo {
    text-align: center;
}

.container-dias {
    display: flex;
    align-items: center;
    flex-direction: wrap;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #2e2e2e;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #000000;
    color: #ffffff;
    min-width: 150px;
    max-width: 150px;
}

td {
    background-color: #ffffff;
    min-width: 150px;
    max-width: 150px;
}

#vacio,
#f1,
#f2,
#f3,
#f4,
#f5,
#f6,
#f7,
#f8,
#f9,
#f10,
#f11,
#f12,
#f13,
#f14,
#f15 {
    min-width: 130px !important;
    max-width: 130px !important;
}

/********************************************/
/********************************************/
/********************************************/
.container-nombre-curso {
    display: flex;
    align-items: center;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-nombre-curso label {
    font-size: 16px;
    color: #333;
}

.container-nombre-curso input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    outline: none;
    width: 230px;
    transition: background-color 300ms;
}

.container-nombre-curso input:focus {
    background-color: #bec9fdad;
    border: 1px solid #120b6e90;
}

.container-nombre-curso input:valid {
    background-color: #e6ecff;
}

/********************************************/
/********************************************/
/********************************************/
.container-dias {
    display: flex;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-dias label {
    font-size: 16px;
    color: #333;
}

.style-dias {
    margin-left: 10px;
    margin-right: 10px;
}

.style-color {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.style-color input {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: background-color 300ms;
}

.style-color input:focus {
    background-color: #bec9fdad;
    border: 1px solid #120b6e90;
}

.style-color input:valid {
    background-color: #e6ecff;
}

.days-checkbox {
    display: flex;
    position: relative;
    /* cursor: pointer; */
    font-size: 1.5rem;
    user-select: none;
    /*
    display: flex;
    gap: 10px;
    */
}

.days-checkbox label {
    cursor: pointer;
    display: flex;
    /* padding: 10px; */
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 300ms;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    */
}

.days-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    /* display: none; */
}

.days-checkbox input:checked+label {
    background-color: #0d0b6e;
    color: #fff;
    animation: pulse-a 500ms ease-in-out;
    /* 
    background-color: #52c76b;
    color: white; 
    */
}

@keyframes pulse-a {
    0% {
        box-shadow: 0 0 0 #120b6e90;
        /* transform: rotate(20deg); */
    }

    50% {
        /* transform: rotate(-20deg); */
    }

    75% {
        /* box-shadow: 0 0 0 3px #0B6E4F60; */
    }

    100% {
        box-shadow: 0 0 0 5px #0b0d6e30;
        /* transform: rotate(0); */
    }
}

/*************************/
/*************************/
/*************************/
/*************************/
/* Estilos para la ventana emergente */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    /* Fondo oscuro translúcido */
}

.modal-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    height: 80vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.m-nombre-curso {
    font-size: 20px;
    color: #333;
    margin: 0px;
}

.xd {
    display: flex;
    justify-content: end;
}

.borrar-checkbox {
    width: 30px;
    height: 30px;
}

.container-curso {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px 0px;
}

/*************************/
/*************************/
/*************************/
/*************************/
.container-hora {
    display: flex;
    align-items: center;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-hora label {
    font-size: 16px;
    color: #333;
}

.container-hora input {
    padding: 8px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: background-color 300ms;
}

.container-hora input:focus {
    background-color: #bec9fdad;
    border: 1px solid #120b6e90;
}

.container-hora input:valid {
    background-color: #e6ecff;
}

/*************************/
/*************************/
/*************************/

.container-color {
    display: flex;
    align-items: center;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-color label {
    font-size: 16px;
    color: #333;
}

.container-color input {
    width: 30px;
    height: 30px;

    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/*************************/
/*************************/
/*************************/
.container-celdas {
    display: flex;
    align-items: center;
    flex-direction: wrap;
    /* margin-bottom: 20px; */
}

.container-celdas label {
    font-size: 16px;
    color: #333;
}

.container-celdas input {
    width: 20px;
    height: 20px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/*************************/
/*************************/
/*************************/
/*************************/
.agregar {
    background-color: #6bfd6f;
}

.descargar {
    background-color: #6cb8ff;
    margin-left: 10px;
}


.borrar {
    background-color: #ff74ff;
    margin-left: 10px;
}

.actualizarHorario {
    background-color: #eeff52;
}

.botones-ajustes {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

.cerrarBorrarCurso {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #32ceac;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.cerrarBorrarCurso:hover {
    background-color: #2796a5;
}

.confirmarBorrarCurso {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ce3232;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.opciones-botones {
    display: flex;
    flex-direction: wrap;
    align-items: center;
}

.seleccion {
    display: flex;
    flex-direction: wrap;
    align-items: center;
}

.seleccion p {
    margin: 0px;
    padding: 0px;
}

.confirmarBorrarCurso:hover {
    background-color: #a52727;
}

/*************************/
/*************************/
/*************************/
/*************************/
.container-horario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-horario label {
    font-size: 16px;
    color: #333;
}

.container-horario input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.container-intervalo {
    display: flex;
    align-items: center;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-intervalo label {
    font-size: 16px;
    color: #333;
}

.container-intervalo input {
    display: flex;
    width: 50px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/*************************/
/*************************/
/*************************/
/*************************/
.detalles-extra {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    /* padding: 10px; */
    margin-bottom: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.toggle-detalles {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0px 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: auto;
    text-align: center;
    position: relative;
    font-weight: 700;
    border-radius: 0px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-bottom: 0px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.4s;
}

.toggle-detalles span {
    z-index: 10;
    transition: color 0.4s;
    color: black;
}

.toggle-detalles:hover span {
    color: ghostwhite;
}

.toggle-detalles:hover {
    background-color: rgb(0, 0, 0);
    color: ghostwhite;
}

.toggle-detalles.clicked {
    background-color: rgb(0, 0, 0);
}

.toggle-detalles.clicked:hover {
    background-color: #ffffff;
}

.toggle-detalles.clicked span {
    color: ghostwhite;
}

.toggle-detalles.clicked:hover span {
    color: rgb(0, 0, 0);
}

.detalles-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    /* justify-content: center; */
}

.detalles-content h2 {
    font-size: 20px;
}

.detalles-content hr {
    width: 100%;

}

/*************************/
/*************************/
/*************************/
/*************************/
/*************************/
/*************************/
/*************************/
/*************************/

.contenedor-1 {
    display: flex;
    justify-content: center;
    flex-direction: wrap;
}

.contenedor-2 {
    display: flex;
    justify-content: center;
    flex-direction: wrap;
}

.contenedor-3 {
    display: flex;
    justify-content: center;
    flex-direction: wrap;
}

@media screen and (max-width: 768px) {
    .style-dias {
        margin-left: 0px;
    }

    .style-color {
        margin-left: 0px;
    }

    .contenedor-1 {
        flex-direction: column;
    }

    .contenedor-2 {
        flex-direction: column;
    }

    .contenedor-3 {
        display: flex;
        gap: 10px;
        /* flex-direction: column; */
    }

    .descargar,
    .borrar {
        margin-left: 0px;
    }

    .modal-contenido {
        width: 80%;
    }

    .container-horario {
        flex-direction: wrap;
        align-items: center;
        /*justify-content: start; */
    }

    .ani {
        width: 110px;
        display: flex;
        font-size: 11px !important;
    }

    /*
    .detalles-content {
         align-items: start; 
    }
    */
}

.container-nombre-curso input:hover:not(:focus-within),
.days-checkbox label:hover:not(:focus-within),
.container-hora input:hover:not(:focus-within),
/* .container-color input:hover:not(:focus-within), */
.container-a div:hover:not(:focus-within) {
    background-color: #a2b3ff !important;
    border: 1px solid #a2b3ff;
}

#miHorario td {
    font-weight: bold;
}