body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
button{
    font-family: 'Courier New', Courier, monospace;
}
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #000975 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}

*::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:active {
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #000975;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #8D20B7;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #000975;
}


.container {
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#horario-mostrado {
    overflow-x: auto;
    max-width: auto;
}

.titulo {
    text-align: center;
}

.container-dias {
    display: flex;
    align-items: center;
    flex-direction: wrap;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #2e2e2e;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #000000;
    color: #ffffff;
    width: 200px
}

td {
    background-color: #ffffff;
    width: 200px
}

.container-nombre-curso {
    display: flex;
    align-items: center;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-nombre-curso label {
    font-size: 16px;
    color: #333;
}

.container-nombre-curso input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 230px;
}

.container-dias {
    display: flex;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-dias label {
    font-size: 16px;
    color: #333;
}

.style-dias {
    margin-left: 10px;
    margin-right: 10px;
}

.style-color {
    margin-left: 10px;
    margin-right: 10px;
}

.days-checkbox {
    display: flex;
    gap: 10px;
}

.days-checkbox label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.days-checkbox input {
    display: none;
}

.days-checkbox input:checked+label {
    background-color: #52c76b;
    color: white;
}

/*************************/
/*************************/
/*************************/
/*************************/
/* Estilos para la ventana emergente */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro translúcido */
}

.modal-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    height: 80vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.m-nombre-curso {
    font-size: 20px;
    color: #333;
    margin: 0px;
}

.xd {
    display: flex;
    justify-content: end;
}

.borrar-checkbox {
    width: 30px;
    height: 30px;
}

.container-curso {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px 0px;
}

/*************************/
/*************************/
/*************************/
/*************************/
.container-hora {
    display: flex;
    align-items: center;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-hora label {
    font-size: 16px;
    color: #333;
}

.container-hora input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.container-color {
    display: flex;
    align-items: center;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-color label {
    font-size: 16px;
    color: #333;
}

.container-color input {
    width: 30px;
    height: 30px;

    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/*************************/
/*************************/
/*************************/
/*************************/
.agregar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.agregar:hover {
    background-color: #45a049;
}

.descargar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4c7faf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
}

.descargar:hover {
    background-color: #5345a0;
}

.borrar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #aa32ce;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
}

.borrar:hover {
    background-color: #a127a5;
}

.botones-ajustes {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

.cerrarBorrarCurso {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #32ceac;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.cerrarBorrarCurso:hover {
    background-color: #2796a5;
}

.confirmarBorrarCurso {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ce3232;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.opciones-botones{
    display: flex;
    flex-direction: wrap;
    align-items: center;
}
.seleccion{
    display: flex;
    flex-direction: wrap;
    align-items: center;
}

.seleccion p{
    margin: 0px;
    padding: 0px;
}

.confirmarBorrarCurso:hover {
    background-color: #a52727;
}

.actualizarHorario {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eeff52;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.actualizarHorario:hover {
    background-color: #bedb18;
}

/*************************/
/*************************/
/*************************/
/*************************/
.container-horario {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-horario label {
    font-size: 16px;
    color: #333;
}

.container-horario input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.container-intervalo {
    display: flex;
    align-items: center;
    flex-direction: wrap;
    margin-bottom: 20px;
}

.container-intervalo label {
    font-size: 16px;
    color: #333;
}

.container-intervalo input {
    display: flex;
    width: 50px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
/*************************/
/*************************/
/*************************/
/*************************/
.detalles-extra {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    
}

.toggle-detalles {
    cursor: pointer;
    font-size: 20px;
    padding: 0px 5px;
    width: 100%;
    height: auto;
    text-align: center;
}


.detalles-content {
    display: none;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
}

.detalles-content h2{
    font-size: 20px;
}
.detalles-content hr{
    width: 100%;

}

/*************************/
/*************************/
/*************************/
/*************************/
/*************************/
/*************************/
/*************************/
/*************************/

.contenedor-1 {
    display: flex;
    justify-content: center;
    flex-direction: wrap;
}

.contenedor-2 {
    display: flex;
    justify-content: center;
    flex-direction: wrap;
}

.contenedor-3 {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .style-dias {
        margin-left: 0px;
    }

    .style-color {
        margin-left: 0px;
    }

    .contenedor-1 {
        flex-direction: column;
    }

    .contenedor-2 {
        flex-direction: column;
    }

    .modal-contenido {
        width: 80%;
    }

    .container-horario {
        flex-direction: wrap;
        align-items: center;
        /*justify-content: start; */
    }
    /*
    .detalles-content {
         align-items: start; 
    }
    */
}

#miHorario td {
    font-weight: bold;
}